<a href='/'>Entry index</a>

<h3>Edit Entry:</h3>

<form method="POST" action=''>
{% for field in form %}
<div>{{ field.label }}: {{ field }}</div>
{% endfor %}
<input type="submit" value="Submit"/>
</form>


