<DOCTYPE! html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Learning Journal</title>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="../static/home.css">
</head>

<body>

  <header>
    <h1>Learning Journal</h1>

    <ul id="nav">
      <li class="navLi"><a href='/login'>Login</a></li>
      {% if request.has_permission('edit') %}
      <li class="navLi"><a href='/add_entry'>Create Entry</a></li>
      <li class="navLi"><a href='/logout'>Log Out</a></li>
      {% endif %}
    </ul>
  </header>

  <article id="content">
    <h3>Entries</h3>
    <ul class="entry_listed">
      {% for entry in entries %}
      <li>
      <a href="/entries/{{ entry.id }}">
      {{ entry.title }}
      </a>
      </br>Created on: {{ entry.created }}
      </li>
      <div class="spacer"></div>
      </br>
      {% endfor %}
    </ul>
  </article>


  
</body>
</html>