
<DOCTYPE! html>
<head>
<title>Learning Journal</title>
</head>

<body>

<h1>Entries</h1>

{% for entry in entries %}
<ul>
<li>
<a href="/entries/{{ entry.id }}">
{{ entry.title }}
</a>
</br>Created on: {{ entry.created }}
</li>
</ul>

{% endfor %}

</body>

</html>
