
<DOCTYPE! html>
<head>
<title>Learning Journal</title>
</head>

<body>
<a href='/'>Entry index</a>
</br>
<a href='/edit_entry/{{ single_entry.id }}'>Edit entry</a>

<h1>{{ single_entry.title }}</h1>
<h3>Date created: {{ single_entry.created }}</h3>
<p>{{ single_entry.text }}</p>

</body>


</html>
